@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  /* Slate 900 */
  color: #e2e8f0;
  /* Slate 200 */
  font-family: 'Inter', sans-serif;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-lg transition-all transform hover:scale-105;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
  }
}